body {
    background-color: rgb(204, 202, 202);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.4px 0.4px gray;
}

.out-box {
    background-image: linear-gradient(to right, rgb(20, 105, 196), rgb(15, 132, 153), rgb(76, 128, 152), rgb(15, 132, 153), rgb(20, 105, 196));
    max-width: 1200px;
    border-radius: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 3em 2em 0 13em;
}

.out-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main-box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 2em 0 0 0;
}

.temp-box,
.descrip-box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.sunrise-set-box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 2em;
    ;
}

.second-box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1,
#city,
#windD,
#windS,
#condy,
#sunny,
#setty,
p {
    font-size: 2em;
    margin-right: 1em;
}

#temp {
    font-size: 2em;
}